*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.App {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
 
  padding: 20px;
  background: #dededc;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center ;
  gap: 10vw;
}
